<!DOCTYPE html>
<html>
<head>
	<title>Covid19India</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="static/css/map.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body style="background-color: #f8f8f8f8">

	<div class="container-fluid mb-5">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#"><i class="fas fa-virus"></i> Covid19|India</a>
			<ul class="nav navbar-nav ml-auto">
				<li><a href="https://github.com/suraj-deshmukh" style="color: white">About me</a></li>
			</ul>
		</nav>	
	</div>

	<div class="container">
		<div class="row d-flex text-center">
			<div class="col-12 col-sm-3 p-2">
				<div class="border round_border p-sm-1 p-md-3 p-lg-4 p-xl-5" style="text-overflow:ellipsis; background: rgba(0, 0, 0, 0.3)">
					<div id="confirm">0</div>
					<div class="small">Confirmed</div>
				</div>
			</div>
			<div class="col-12 col-sm-3 p-2">
				<div class="border round_border p-sm-1 p-md-3 p-lg-4 p-xl-5" style="text-overflow:ellipsis; background: rgba(255, 147, 0, 0.5)">
					<div id="active">0</div>
					<div class="small">Active</div>					
				</div>
			</div>
			<div class="col-12 col-sm-3 p-2">
				<div class="border round_border p-sm-1 p-md-3 p-lg-4 p-xl-5" style="text-overflow:ellipsis; background: #00800087">
					<div id="recov">0</div>
					<div class="small">Recovered</div>					
				</div>				
			</div>
			<div class="col-12 col-sm-3 p-2">
				<div class="border round_border p-sm-1 p-md-3 p-lg-4 p-xl-5" style="text-overflow:ellipsis; background: #ff00007d">
					<div id="deaths">0</div>
					<div class="small">Deaths</div>					
				</div>
			</div>
		</div>
	</div>
<!-- d-none d-sm-none d-md-flex -->
	<div id="other_stats" class="container mt-2 d-flex flex-row justify-content-center"> 
<!-- 			<div class="card m-2">
				<div class="card-header">
					Today's Cases
				</div>
				<div class="card-body">
					<p class="card-text">1212</p>
				</div>
			</div> -->
		<div class="card m-2 flex-fill">
			<div class="card-header">
			Today's Cases
			</div>
		  <div class="card-body">
		    <p id="todays_cases" class="card-text">0</p>
		  </div>
		</div>
		<div class="card m-2 flex-fill">
			<div class="card-header">
			Today's Deaths
			</div>
		  <div class="card-body">
		    <p id="todays_deaths" class="card-text">0</p>
		  </div>
		</div>
		<div class="card m-2 flex-fill">
			<div class="card-header">
			Tests/Million
			</div>
		  <div class="card-body">
		    <p id="testsM" class="card-text">0</p>
		  </div>
		</div>
		<div class="card m-2 flex-fill">
			<div class="card-header">
			Tests
			</div>
		  <div class="card-body">
		    <p id="tests" class="card-text">0</p>
		  </div>
		</div>
	</div>

	<div class="container mt-5" style="height: 800px; max-width: 800px">
		<div class="row d-flex flex-column" style="height: 100%">
			<div class="col text-center mb-3" style="max-height: 25px"><h4><strong>India Map</strong></h4></div>
			<div class="col mb-5">
				<div id="map"><i style="margin-top: 40%" class="d-flex justify-content-center fas fa-circle-notch fa-spin fa-5x"></i></div>
				<!-- <div id="loading" style="margin: auto;"> <i class="fas fa-circle-notch fa-spin fa-5x"></i> </div> -->
			</div>
		</div>
	</div>

	<div class="container mt-2">
		<div class="row d-flex flex-column" style="height: 200px;">
			<div class="col text-center mb-3" style="max-height: 25px"><h4><strong>Historical Data</strong></h4></div>
			<div class="col mb-5">
				<div id="chart"></div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="static/js/script_india.js"></script> -->
	<script type="text/javascript" src="static/js/script_map.js"></script>
	<script type="text/javascript" src="static/js/script_chart.js"></script>
	<script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>